body{
    background-color: black;
}
.photo{
    height: 30%;
    width: 30%;
    position: relative;
}

.photo img {
    margin: :auto;
    align-content: center;
    width: 100%;
    height:100%;
}

.ys {
    position: absolute;
    top: 0px;
    left:0px;
    opacity: 0;
    transition: 0.3s;
    z-index: 999;
    cursor: pointer;

}

.ys:hover{
    opacity: 1;
    transition: 0.7s;
}

.allimg{
    display: flex;
    justify-content: space-around;
}
